<!DOCTYPE html>
<html lang="en">
    {% include 'components/head.html' %}

    <body>
        <div id="wrapper">
            {% include 'components/nav-account.html' %}
            <div id="page-wrapper">
                {% include 'components/alerts.html' %}
                <div class="row">
                    <div class="col-m-4">
                        <div class='panel panel-primary'>
                            <div class='panel-heading'>
                                <h3 class='panel-title'><i class='fa fa-toggle-on'></i> Gestion de la salle</h3>
                            </div>
                            <div class='panel-body'>



                                <form name="changesalle" method="get" action="{{form_action}}">



                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Selectionnez votre salle :</label>
                                        <div class="col-sm-4">
                                            <select id="salle" class='form-control select2' name="salle" onchange='this.form.submit()'>
                                                {% for salle in salles %}
                                                <option value="{{salle.id}}" {% if salle.id == selectedsalle.id %}selected{% endif %}>{{salle.name}}</option>
                                                {% endfor %}
                                            </select>
                                            <br /> <br />

                                        </div>
                                    </div>

                                </form>
                                <form name="access" method="post" action="{{form_action}}">
                                    <div class="form-group">
                                        <input type="hidden" id="salle" name="salle" value="{{selectedsalle.id}}"/>
                                        <input type="hidden" name="{{csrf_key}}" id="{{csrf_key}}" value="{{csrf_token}}">
                                        <label class="col-sm-6 control-label">Choix du niveau de filtrage :</label>
                                        <div class="col-sm-4">
                                            <select id="filter" class='form-control select2' name="filter">
                                                {% for filter in filters %}
                                                <option value="{{filter.id}}" {% if filter.id == selectedsalle.id_customconf %}selected{% endif %}>{{filter.name}} {% if filter.id == selectedsalle.id_customconf %}(Actif){% endif %}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>


                                    <div class="col-sm-4 col-sm-offset-4">
                                        <br /><br /><br />
                                        <div class="vert-pad">

                                            <button type="submit" class="btn btn-block btn-lg btn-success" data-loading-text="Merci de patienter..." {% if disableapply %}disabled{% endif %}>
                                                    Appliquer
                                        </button>
                                    </div>      
                                </div>
                            </form>


                        </div>
                    </div>
                </div>

            </div>

            {% include 'components/footer.html' %}    
        </div>
    </div>

</body>
</html>

