<!DOCTYPE html>
<html lang="en">
    {% include 'components/head.html' %}

    <body>
        <div id="wrapper">
            {% include 'components/nav-account.html' %}
            <div id="page-wrapper">
                {% include 'components/alerts.html' %}
                <div class="row">
                    <div class="col-m-4">
                        <div class='panel panel-primary'>
                            <div class='panel-heading'>
                                <h3 class='panel-title'><i class='fa fa-globe'></i> Configuration de l'accès à internet.</h3>
                            </div>
                            <div class='panel-body'>


                                <form name="salle" method="post" action="{{form_action}}">




                                    <div class="form-group">
                                        <label for="input_default_locale" class="col-sm-6	 control-label">Selectionnez votre salle :</label>
                                        <div class="col-sm-4">
                                            <select id="input_default_locale" class='form-control select2' name="userfrosting[default_locale]">
                                                <option value="de_DE" >Salle 001</option>
                                                <option value="en_US" >Salle 002</option>
                                                <option value="es_ES" >Salle 003</option>
                                                <option value="es_ES" >Salle 004</option>                                                                                                <option value="de_DE" >Salle 001</option>
                                                <option value="en_US" >Salle 100</option>
                                                <option value="en_US" >Salle 101</option>
                                                <option value="en_US" >Salle 102</option>
                                                <option value="es_ES" >Salle 103</option>
                                                <option value="es_ES" >Salle 104</option>                                                                                                <option value="de_DE" >Salle 001</option>
                                                <option value="en_US" >Salle 200</option>
                                                <option value="es_ES" >Salle 201</option>
                                                <option value="es_ES" >Salle 202</option>                                                                                                <option value="de_DE" >Salle 001</option>
                                                <option value="en_US" >Salle 203</option>
                                                <option value="en_US" >Salle 204</option>
                                                <option value="es_ES" >Salle 300</option>
                                                <option value="es_ES" >Salle 301</option>
                                                <option value="es_ES" >Salle 302</option>
                                                <option value="es_ES" >Salle 303</option>
                                                <option value="es_ES" >Salle 304</option>
                                            </select>
                                            <br /> <br />

                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label for="input_default_locale" class="col-sm-6 control-label">Choix du niveau de filtrage :</label>
                                        <div class="col-sm-4">
                                            <select id="input_default_locale" class='form-control select2' name="userfrosting[default_locale]">
                                                <option value="de_DE" >Aucun accès</option>
                                                <option value="de_DE" >niveau personnalisé 1</option>
                                                <option value="de_DE" >niveau personnalisé 2</option>
                                                <option value="de_DE" >Accès Total</option>
                                            </select>

                                        </div>
                                    </div>






                                    <div class="col-sm-4 col-sm-offset-4">
                                        <br /><br /><br />
                                        <div class="vert-pad">

                                            <button type="button" class="btn btn-block btn-lg btn-success" data-loading-text="Merci de patienter...">
                                                Appliquer
                                            </button>
                                        </div>      


                                    </div>





                                </form>



                            </div>
                        </div>
                    </div>

                </div>

                {% include 'components/footer.html' %}    
            </div>
        </div>

    </body>
</html>

