{% set page_group = "bypasslist" %}
<!DOCTYPE html>
<html lang="en">
    {% include 'components/head.html' %}

    <body>
        <div id="wrapper">
            {% include 'components/nav-account.html' %}
            <div id="page-wrapper">
                {% include 'components/alerts.html' %}
                <div class="row">
                    <div class="col-md-12">
                        <div class='panel panel-primary'>
                            <div class='panel-heading'>
                                <h3 class='panel-title'><i class='fa fa-unlock'></i> Sites accessibles sans authentification</h3>
                            </div>
                            <div class='panel-body'>
                                <div class="table-responsive">
                                    <table class="tablesorter table table-bordered table-hover table-striped tablesorter-bootstrap tablesorter-std" data-sortlist="[[0, 0]]">
                                        <thead>
                                            <tr>
                                                <th class="sorter-metatext">Domaine<i class="fa fa-sort"></i></th>
                                                <th class="sorter-metatext">Description<i class="fa fa-sort"></i></th>
                                                <th class="sorter-metatext">Utilisateur responsable<i class="fa fa-sort"></i></th>
                                                <th class="sorter-metatext">Action<i class="fa fa-sort"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for bypasslistitem in bypasslist %}
                                            <tr>
                                                <td>
                                                    {{bypasslistitem.url}}
                                                </td>
                                                <td>
                                                    {{bypasslistitem.description}}
                                                </td>
                                                <td>
                                                    {{bypasslistitem.id_user}}
                                                </td>                                 
                                                <td>
                                                    <a href="#" data-id="{{bypasslistitem.id}}" class="js-bypasslist-delete" data-name="{{bypasslistitem.url}}" data-target="#dialog-bypasslist-delete" data-toggle="modal">
                                                        <i class="fa fa-trash-o"></i> Supprimer
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="pager pager-lg tablesorter-pager">
                                        <span class='pager-control first' title='First page'><i class='fa fa-angle-double-left'></i></span>
                                        <span class='pager-control prev' title='Previous page'><i class='fa fa-angle-left'></i></span>
                                        <span class='pagedisplay'></span> <!-- this can be any element, including an input -->
                                        <span class='pager-control next' title='Next page'><i class='fa fa-angle-right'></i></span>
                                        <span class='pager-control last' title= 'Last page'><i class='fa fa-angle-double-right'></i></span>
                                        <br><br>
                                        Aller à: <select class='gotoPage'></select>
                                        &bull; Voir: <select class='pagesize'>
                                            <option value='2'>2</option>
                                            <option value='5'>5</option>
                                            <option value='10'>10</option>
                                            <option value='100'>100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <button type="button" class="btn btn-success js-bypasslist-create" data-toggle="modal" data-target="#dialog-bypasslist-create">
                                            <i class="fa fa-plus-square"></i>  Ajouter un site
                                        </button>
                                    </div>
                                    <!--                        <div class="col-md-6 text-right ">
                                                                <a href="#">Voir toutes les salles <i class="fa fa-arrow-circle-right"></i></a>
                                                            </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'components/footer.html' %}    
            </div>
        </div>
    </body>
</html>

