<!DOCTYPE html>
<html lang="en">
    {% include 'components/head.html' %}

    <body>
        <div id="wrapper">
            {% include 'components/nav-account.html' %}
            <div id="page-wrapper">
                {% include 'components/alerts.html' %}
                <div class="row">
                    <div class="col-m-12">
                        <div class='panel panel-primary'>
                            <div class='panel-heading'>
                                <h3 class='panel-title'><i class='fa fa-globe'></i> Configuration générale</h3>
                            </div>
                            <div class='panel-body'>


                                <form name="confgen" method="post" action="{{form_action}}">




                                    <div class="form-group">
                                        <label for="ip_squid" class="col-sm-4 control-label">Adresse IP du serveur Squid</label>
                                        <div class="col-sm-4">
                                            <input type='text' id="ip_squid" class="form-control" name="ip_squid" value='{{ip_squid.value}}' style="width: 90%;" data-fv-ip="true" data-fv-ip-message="Veuillez entrer une adresse IP valide"/>
                                        </div>
                                    </div>
                                    <br><br><br>
                                    <div class="form-group">
                                        <label for="ssh_user" class="col-sm-4 control-label">Utilisateur SSH pour accéder au serveur Squid</label>
                                        <div class="col-sm-4">
                                            <input type='text' id="ssh_user" class="form-control" name="ssh_user" value='{{ssh_user.value}}' style="width: 90%;"/>
                                        </div>
                                    </div>
                                    <br>
                                    <br><br>
                                    <div class="form-group">
                                        <label for="squidguard_conf_path" class="col-sm-4 control-label">Chemin du fichier de configuration SquidGuard</label>
                                        <div class="col-sm-4">
                                            <input type='text' id="squidguard_conf_path" class="form-control" name="squidguard_conf_path" value='{{squidguard_conf_path.value}}' style="width: 90%;"/>
                                        </div>
                                    </div>
                                    <br>
                                    <br><br>
                                    <div class="form-group">
                                        <label for="squid_conf_path" class="col-sm-4 control-label">Chemin du fichier de configuration Squid</label>
                                        <div class="col-sm-4">
                                            <input type='text' id="squidguard_conf_path" class="form-control" name="squid_conf_path" value='{{squid_conf_path.value}}' style="width: 90%;"/>
                                        </div>
                                    </div>
                                    <br>
                                    <br><br>
                                    <div class="form-group">
                                        <label for="delay_pool_max_size" class="col-sm-4 control-label">Taille max(octets) des téléchargement avant réduction des débits</label>
                                        <div class="col-sm-4">
                                            <input type='text' id="delay_pool_max_size" class="form-control" name="delay_pool_max_size" value='{{delay_pool_max_size.value}}' style="width: 90%;"/>
                                        </div>
                                    </div>
                                    <br>
                                    <br><br>
                                    <div class="form-group">
                                        <label for="delay_pool_restore_rate" class="col-sm-4 control-label">Débit(octets/s) des téléchargements excédant la taille max</label>
                                        <div class="col-sm-4">
                                            <input type='text' id="delay_pool_restore_rate" class="form-control" name="delay_pool_restore_rate" value='{{delay_pool_restore_rate.value}}' style="width: 90%;"/>
                                        </div>
                                    </div>
                                    <input type="hidden" name="{{csrf_key}}" id="{{csrf_key}}" value="{{csrf_token}}">
                                    <br><br>
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <br /><br /><br />
                                        <div class="vert-pad">

                                            <button type="submit" class="btn btn-block btn-lg btn-success" data-loading-text="Merci de patienter...">
                                                Appliquer la configuration
                                            </button>
                                        </div>      


                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>

                </div>

                {% include 'components/footer.html' %}    
            </div>
        </div>
        <script>
            var validators = {{validators | raw}};
            $("form[name='confgen']").formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'fa fa-check',
                    invalid: 'fa fa-times',
                    validating: 'fa fa-refresh'
                },
                fields: validators
            });
        </script>

    </body>
</html>

